Babel
bracex
click
ghp-import
gitdb
GitPython
importlib-metadata
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-blog-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-redirects
packaging
pyparsing
python-dateutil
pytz
PyYAML
pyyaml_env_tag
six
smmap
watchdog
wcmatch
zipp
